body{
    text-align: center;
    background-color:#7DCE82;

}

#imagee{
    width: 1000px;
    height: 1000px;
}

#next{
    height:100px;
    width:200px ;
    font-size: 30;
    color: #0004fc;
    background-color: deeppink;
}